<nav class="navbar navbar-expand-lg navbar-dark">
  <%= link_to 'MQ Blog', root_path, class: 'navbar-brand', id: 'logo' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'View all articles', articles_path, class: 'dropdown-item' %>
          <% if logged_in? %>
          <div class="dropdown-divider"></div>
            <%= link_to 'Create new article', new_article_path, class: 'dropdown-item' %>
            <%= link_to 'My articles', user_path(current_user), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to 'Bloggers', users_path, class: 'nav-link' %>
      </li>
    </ul>

    <% if logged_in? %>
      <div class="navbar-nav">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= '(Admin) ' if current_user.admin? %>[<%= current_user.username %>]
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarUserDropdown">
            <%= link_to 'Edit profile', edit_user_path(current_user), class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Log out', logout_path, class: 'dropdown-item', method: :delete %>
          </div>
        </div>
      </div>
    <% else %>
      <%= link_to 'Log in', login_path, class: 'btn btn-outline-info ml-2 my-2 my-sm-0' %>
      <%= link_to 'Sign up', signup_path, class: 'btn btn-outline-success ml-2 my-2 my-sm-0' %>
    <% end %>
  </div>
</nav>